{% extends 'layout.html' %}
{% block content %}

<div class="row">
    <div class="col-md-3">
        <!--side bar-->
        <ul class="side">
            <li><a class="txt" href=" ">WHO WE ARE</a></li>
            <hr class="line">
            <li><a class="txt" href=" ">Welcome</a></li>
            <li><a class="txt" href=" ">Attorneys</a></li>
            <li><a class="txt" href=" ">Staff</a></li>
            <li><a class="txt" href=" ">Reputation</a></li>
            <li><a class="txt" href=" ">History</a></li>
            <img src="{{ url_for('static', filename='./images/content-navlink-panek_rosemary.jpg') }}" alt="rosemary">
            <li><a class="txt" href=" "><b>Contact Us</b></a></li>
            <li>For general inquiries and questions...</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row" style="padding-bottom:15px;">
            <img src="{{ url_for('static', filename='./images/content-01-attorneys.jpg') }}" alt="attorneys">
        </div>
        <!--list of attorneys-->
        <div class="row img">
            <div class="col-md-4">
                <div class="row">
                    <img class="img0" src="https://via.placeholder.com/110x110" alt="John P. Smith">
                    <span>
                        <b>John P. Smith</b><br>
                        Job title<br>
                        <br>
                        800.800.8000
                    </span>
                </div>
                <div class="row">
                    <span style="padding-left: 0px;">
                        <a class="add" href="myemail@myemail.com">myemail@myemail.com</a>
                        <br>
                        <a class="add" href=" ">more...</a>
                        <br>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <img class="img0" src="https://via.placeholder.com/110x110" alt="John P. Smith">
                    <span>
                        <b>John P. Smith</b><br>
                        Job title<br>
                        <br>
                        800.800.8000
                    </span>
                </div>
                <div class="row">
                    <span style="padding-left: 0px;">
                        <a class="add" href="myemail@myemail.com">myemail@myemail.com</a>
                        <br>
                        <a class="add" href=" ">more...</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row img">
            <div class="col-md-4">
                <div class="row">
                    <img class="img0" src="https://via.placeholder.com/110x110" alt="John P. Smith">
                    <span>
                        <b>John P. Smith</b><br>
                        Job title<br>
                        <br>
                        800.800.8000
                    </span>
                </div>
                <div class="row">
                    <span style="padding-left: 0px;">
                        <a class="add" href="myemail@myemail.com">myemail@myemail.com</a>
                        <br>
                        <a class="add" href=" ">more...</a>
                        <br>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <img class="img0" src="https://via.placeholder.com/110x110" alt="John P. Smith">
                    <span>
                        <b>John P. Smith</b><br>
                        Job title<br>
                        <br>
                        800.800.8000
                    </span>
                </div>
                <div class="row">
                    <span style="padding-left: 0px;">
                        <a class="add" href="myemail@myemail.com">myemail@myemail.com</a>
                        <br>
                        <a class="add" href=" ">more...</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row img">
            <div class="col-md-4">
                <div class="row">
                    <img class="img0" src="https://via.placeholder.com/110x110" alt="John P. Smith">
                    <span>
                        <b>John P. Smith</b><br>
                        Job title<br>
                        <br>
                        800.800.8000
                    </span>
                </div>
                <div class="row">
                    <span style="padding-left: 0px;">
                        <a class="add" href="myemail@myemail.com">myemail@myemail.com</a>
                        <br>
                        <a class="add" href=" ">more...</a>
                        <br>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <img class="img0" src="https://via.placeholder.com/110x110" alt="John P. Smith">
                    <span>
                        <b>John P. Smith</b><br>
                        Job title<br>
                        <br>
                        800.800.8000
                    </span>
                </div>
                <div class="row">
                    <span style="padding-left: 0px;">
                        <a class="add" href="myemail@myemail.com">myemail@myemail.com</a>
                        <br>
                        <a class="add" href=" ">more...</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <img class="img0" src="https://via.placeholder.com/110x110" alt="John P. Smith">
                    <span>
                        <b>John P. Smith</b><br>
                        Job title<br>
                        <br>
                        800.800.8000
                    </span>
                </div>
                <div class="row">
                    <span style="padding-left: 0px;">
                        <a class="add" href="myemail@myemail.com">myemail@myemail.com</a>
                        <br>
                        <a class="add" href=" ">more...</a>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <img class="img0" src="https://via.placeholder.com/110x110" alt="John P. Smith">
                    <span>
                        <b>John P. Smith</b><br>
                        Job title<br>
                        <br>
                        800.800.8000
                    </span>
                </div>
                <div class="row">
                    <span style="padding-left: 0px;">
                        <a class="add" href="myemail@myemail.com">myemail@myemail.com</a>
                        <br>
                        <a class="add" href=" ">more...</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}